
      /*Exercise (1)*/
p:nth-child(n+1):nth-child(-n+11):nth-child(odd) {
    background-color: rgb(246, 255, 0);
    border: black solid 2px;
    width: 8.5%;
    height: 40px;
    display: inline-table;
    margin-bottom: 50px;
}

p:nth-child(n+1):nth-child(-n+12):nth-child(even) {
    background-color: green;
    border: black solid 2px;
    width: 8.5%;
    height: 40px;
    display: inline-table;
    margin-top: 50px;
}

    /*Exercise (2)*/
div:nth-child(even){
    background-color: rgb(255, 0, 0);
    border: black solid 2px;
    width: 15%;
    height: 30px;
    display: inline-block;
    margin-bottom: 50px;
    color: white;
    text-align: center;
    align-content: center;
    font-weight: bold;
    display: none;
}
div:nth-child(odd){
    background-color: rgb(255, 0, 0);
    color: white;
    border: black solid 2px;
    width: 15%;
    height: 30px;
    display: inline-block;
    margin-bottom: 50px;
    text-align: center;
    align-content: center;
    font-weight: bold;
    
}

/*Exercise (3)*/
span span span {
    display:inline-block;
    width: 25px;
    height: 25px;
    background-color: green;
    padding: 10px;
    margin :10px;
    }

    span > span:nth-child(1) > span:nth-child(4) ,
    span > span:nth-child(1) > span:nth-child(5) ,
    span > span:nth-child(1) > span:nth-child(6) ,
    span > span:nth-child(2) > span:nth-child(1) ,
    span > span:nth-child(2) > span:nth-child(2) ,
    span > span:nth-child(2) > span:nth-child(3) ,
    span > span:nth-child(2) > span:nth-child(7) ,
    span > span:nth-child(2) > span:nth-child(8) ,
    span > span:nth-child(2) > span:nth-child(9) ,
    span > span:nth-child(3) > span:nth-child(4) ,
    span > span:nth-child(3) > span:nth-child(5) ,
    span > span:nth-child(3) > span:nth-child(6) 
    {
        background-color: blue;
    }

.ex4{
    width: 100px;
}

p{
    background-color: rgb(203, 238, 244);
    border: black solid 2px;
    width: 8%;
    height: 40px;
    display: inline-table;
    margin-bottom: 50px;
}

/* كلهم بإستثناء أول خمسة*/
p:nth-child(n+40):nth-child(-n+45) {
    background-color: orange;
}

/* أول خمسة */
p:nth-child(n+46):nth-child(-n+50) {
    background-color: orange;
}

/* مربع من كل أربعة مربعات */
p:nth-child(n+57):nth-child(-n+68):nth-child(4n-3){
    background-color: orange;
}

/* آخر خمسة */
p:nth-child(n+74):nth-child(-n+78) {
    background-color: orange;
}

/* قبل الأخير */
p:nth-child(88) {
    background-color: orange;
}

